.background {
  position: relative;
  background: linear-gradient(358deg, #005896 1.68%, #62b3ec 98.03%);
  .ellipse1,
  .ellipse2,
  .ellipse3,
  .ellipse4,
  .ellipse5,
  .ellipse6,
  .ellipse7 {
    position: absolute;
  }

  .ellipse2 {
    left: 21%;
  }
  .ellipse3 {
    top: 45px;
    left: 34%;
  }
  .ellipse4 {
    left: 42%;
  }
  .ellipse5 {
    right: 20%;
  }
  .ellipse6 {
    top: 7px;
    right: 11%;
  }
  .ellipse7 {
    right: 0;
  }
}

.footer {
  padding: 70px 0px;
  background: linear-gradient(358deg, #005896 1.68%, #62b3ec 98.03%);
  display: flex;
  justify-content: space-between;
  gap: 85px;
  color: #e0e0e0;

  &-logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-column {
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-size: 15px;

      &_title {
        color: #fff;
        font-size: 17px;
      }

      &_content {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .footer-icons {
        flex-direction: row;
      }
    }
  }
}
