.categories {
  margin: 30px 0;
  &-title {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: 'Gilroy-Semibold', sans-serif;
      color: #000;
      font-size: 25px;
    }
    &_right {
      color: #3186c3;
      font-family: 'Gilroy-Semibold', sans-serif;
      font-size: 16px;
      cursor: pointer;
    }
  }

  &-items {
    background-color: #f8faff;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &-item {
    position: relative;
    width: 170px;
    height: 170px;
    background-color: #fff;
    border-radius: 10px;
    flex: 1 0 calc(14% - 8px);
    min-width: calc(14% - 8px);
    box-sizing: border-box;

    h3 {
      font-family: 'Gilroy-Medium', sans-serif;
      padding: 10px 10px 0 10px;
      color: #000;
      font-size: 14px;
    }

    // h4 {
    //   padding-left: 10px;
    //   color: #727272;
    //   font-size: 12px;
    // }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 170px;
      max-height: 100px;
      border-radius: 0 0 10px 10px;
    }
  }
}
