* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy-Regular', sans-serif;
  /* font-family: 'Gilroy-Medium', sans-serif; 
  font-family: 'Gilroy-Semibold', sans-serif;
  font-family: 'Gilroy-Heavy', sans-serif;  */
}

svg {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
